<%- include("includes/head.ejs") %>
<body>
    <h2 ">This page belong to : <%= data.name %>
    </h2>
    
    <button>Follow</button>
    <button>Message</button>
    <p>Followers : <%= data.followers %> &nbsp;&nbsp;&nbsp;
       Following: <%= data.following %></p>

    <hr style=" height: 5px; background-color: black;">

        <% for(let post of data.posts) { %>
            <img src="<%= post.image %>" width="300px" alt="">
            <p>LIKES : <%= post.likes %> &nbsp;&nbsp;&nbsp;
                    COMMENTS: <%= post.comments %>
            </p>
            <% } %>

            <%- include("includes/footer.ejs") %>

</body>

